.preloader {
  height: 100vh;
  width: 100%;
  background-image: url(https://pbs.twimg.com/media/FKj0-qnXEAAowjA?format=jpg&name=medium);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 25%;
  font-size: 25px;
  font-weight: 800;
  overflow: hidden;
  color: white;
}
