.OfferLatestProductContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 20px;
  z-index: 1;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.col {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}
